# fly.toml app configuration file generated for fittinthispizza on 2026-02-16T22:13:52-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'fittinthispizza'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[mounts]
  source = 'data'
  destination = '/data'

[[vm]]
  memory = '256mb'
  cpus = 1
  memory_mb = 256
